body{
    font-family: Arial, Helvetica, sans-serif;
    color: #DCDCDC;
    background-image: linear-gradient(to left, rgb(20, 147, 220), rgb(17, 54, 71)); 
}
.navbar{
    color: white;
    font: white;
    size: 5px;
    position: absolute;
    height: 80px;
    background-image: linear-gradient(to right, rgb(17, 54, 71), rgb(17, 54, 71));
    border-radius: 8px;
}
.box{
    color: white;
    top: 150px;
    position: absolute;
    margin-top: 150px;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to left, rgb(20, 147, 220), rgb(17, 54, 71));
    padding: 15px;
    border-radius: 15px;
    width: 55%;
}
.box_sobre{
    color: white;
    position: absolute;
    margin-top: 80%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to left, rgb(20, 147, 220), rgb(17, 54, 71));
    padding: 15px;
    border-radius: 15px;
    width: 55%;
}
.box_Img{
    display:inline-block;
    vertical-align:top;
}
.box_Txt{
    display:inline-block;   
}

.box_home{
    color: white;
    position: absolute;
    margin-top: 25%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to left, rgb(20, 147, 220), rgb(17, 54, 71));
    padding: 15px;
    border-radius: 15px;
    width: 55%;
}

.box_cad_def{
    color: white;
    position: absolute;
    margin-top: 150px;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to left, rgb(20, 147, 220), rgb(17, 54, 71));
    padding: 15px;
    border-radius: 15px;
    width: 55%;
}
.box_edit{
    color: white;
    position: absolute;
    margin-top: 30%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to left, rgb(20, 147, 220), rgb(17, 54, 71));
    padding: 15px;
    border-radius: 15px;
    width: 55%;
}
.box_edit_int{
    color: white;
    position: absolute;
    margin-top: 30%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to left, rgb(20, 147, 220), rgb(17, 54, 71));
    padding: 15px;
    border-radius: 15px;
    width: 55%;
}
.box_edit_cri{
    color: white;
    position: absolute;
    margin-top: 10%;
    top:100%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to left, rgb(20, 147, 220), rgb(17, 54, 71));
    padding: 15px;
    border-radius: 15px;
    width: 55%;
}
.box_CRI_ENTRADA{
    color: white;
    position: absolute;
    top:50%;
    margin-top: 20%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to left, rgb(20, 147, 220), rgb(17, 54, 71));
    padding: 15px;
    border-radius: 15px;
    width: 55%;
}
.box_CRI_Situacao{
    color: white;
    position: absolute;
    margin-top: 80%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to left, rgb(20, 147, 220), rgb(17, 54, 71));
    padding: 15px;
    border-radius: 15px;
    width: 55%;
}

.box_CRI_Medidas{
    color: white;
    position: absolute;
    margin-top: 54%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to left, rgb(20, 147, 220), rgb(17, 54, 71));
    padding: 15px;
    border-radius: 15px;
    width: 55%;
}

.box_CRI_Avaliacao{
    color: white;
    position: absolute;
    margin-top: 41%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to left, rgb(20, 147, 220), rgb(17, 54, 71));
    padding: 15px;
    border-radius: 15px;
    width: 55%;
}

.box_edit{
    color: white;
    position: absolute;
    margin-top: 30%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to left, rgb(20, 147, 220), rgb(17, 54, 71));
    padding: 15px;
    border-radius: 15px;
    width: 55%;
}
fieldset{
    border: 3px  linear-gradient(to left,rgb(70, 70, 70), rgb(70, 70, 70));
}
legend{

    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to left,rgb(70, 70, 70), rgb(70, 70, 70));
    border-radius: 8px;

}
input[type = "date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1)  ;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#login{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 23%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#dados_publicos{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to left,rgb(0, 80, 172), rgb(80, 19, 195));
}
#update{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#update:hover{
    background-image: linear-gradient(to left,rgb(0, 80, 172), rgb(80, 19, 195));
}
#submit1{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit1:hover{
    background-image: linear-gradient(to left,rgb(0, 80, 172), rgb(80, 19, 195));
}

.logo{
                    position: fixed;
                    height: auto;
                    left: 25px;
                    width: 150px;
                    margin-top: 0.5%;

                }
.logo2
                {
                    position: fixed;
                    height: auto;
                    right:25px;
                    width: 150px;
                    margin-top: 0.5%;

                }
